@import "bootstrap-sprockets";
@import "bootstrap";
@import "variables";
@import "sessions";


// Navbar related changes should be constant
.navbar-default {
  background-color: $primary-color;
  border-color: $primary-color;
  .navbar-brand {
    color: $primary-white;
    &:hover {
      color: $primary-white;
    }
  }
}
// login page logo
.logo {
  margin-left: 41%;
  margin-right: 41%;
  font-size: 32px;
}

//fixed side nav
.sidebar-nav {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  box-shadow: 1px 0 0 #1e2c3a;
  background-color: #263648;
  color: #fff;
  width: 200px;
  .sidebar-nav-brand {
    margin: 0;
    line-height: 55px;
    font-size: 21px;
    display: block;
    border-bottom: 1px solid #1e2c3a;
    align-content: center;
  }
  .category-title {
    font-size: 14px;
    display: block;
    border-bottom: 1px solid #1e2c3a;
    padding: 10px;
    color: #ffffff;
    text-decoration: none;
    }
  :hover.category-title {
    background-color: #546a83;
  }
}

// Top Navigation in react component
.top-navigation {
  color: #263648;
  padding: 0 15px;
  margin-left: 200px;
  border-bottom: 1px solid #d2dae3;
  background-color: #fff;
  .top-navigation-content {
    margin: 0;
    line-height: 55px;
    letter-spacing: -1px;
    font-size: 20px;
  }
}

//Sticky Footer
.footer {
  background-color: $primary-color;
  border-color: $primary-color;
  position: absolute;
  bottom: 0px;
  height: 100px;
  width: 100%;
  color: $primary-white;
  font-family: $font-stack;
  text-align: match-parent;
}
