@import "bootstrap-sprockets";
@import "bootstrap";
@import "variables";
@import "sessions";


// Navbar related changes should be constant
.navbar-default {
  background-color: $primary-color;
  border-color: $primary-color;
  .navbar-brand {
    color: $primary-white;
    &:hover {
      color: $primary-white;
    }
  }
}
// login page logo
.logo {
  margin-left: 41%;
  margin-right: 41%;
  font-size: 32px;
}

//fixed side nav
.sidebar-nav {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  box-shadow: 1px 0 0 #1e2c3a;
  background-color: #263648;
  width: 275px;
  color: #fff;
  .sidebar-nav-brand {
    font-size: 28px;
    display: block;
    border-bottom: 1px solid #1e2c3a;
    align-content: center;
  }
  .category-title {
    font-size: 20px;
    display: block;
    border-bottom: 1px solid #1e2c3a;
    padding: 10px;
    color: #ffffff;
    text-decoration: none;
    }
  :hover.category-title {
    background-color: #899388;
  }
}

// right pane container
.right-pane-container {
  padding-left: 20%;
  padding-top: 5%;
}


//Sticky Footer
.footer {
  background-color: $primary-color;
  border-color: $primary-color;
  position: absolute;
  bottom: 0px;
  height: 100px;
  width: 100%;
  color: $primary-white;
  font-family: $font-stack;
  text-align: match-parent;
}
