// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//Form CSS

.form-align {
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 5%;
  border: solid 1px;
  border-color: #999999;
  padding: 20px;
}