<!DOCTYPE html>
<html>
  <head>
    <title>StrongHealtheApp</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body ng-app="">
    <nav class="navbar navbar-default">
      <div class="navbar-brand">
        Strong Healthe
      </div>
    </nav>
      <%= yield %>
    <footer class="footer">
      <h4> Strong Healthe Corporation Strictly for Internal Use Copyright 2017</h4>
    </footer>
  </body>
</html>
